/* Style shared across all Bricks  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-weight: 700;
}

h1, h2, h3 {
  font-weight: 900;
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--type-heading-xxl-size);
}

h2 {
  font-size: var(--type-heading-xxl-size);
}

h3 {
  font-size: var(--type-heading-m-size);
}



h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 900;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--type-body-s-size);
}

code,
samp {
  padding: 0.125em;
}

pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  white-space: pre;
  overflow: auto scroll;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

/* primary button: blue bg */
a.button:any-link,
main .form .button {
  cursor: pointer;
  text-decoration: none;
  padding: 5.5px 15px;
  text-align: center;
  font-size: var(--type-body-xs-size);
  line-height: var(--body-line-height);
  font-style: normal;
  font-weight: 600;
  color: var(--color-white);
  background: transparent;
  border: 2px solid var(--spectrum-blue);
  border-radius: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  height: fit-content;
  overflow: hidden;
  transform: translateZ(0);

  /* fix for ios overflow with border-radius not working */
  isolation: isolate;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

input:hover {
  border: 1px solid var(--text-color);
}

blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

blockquote p::before {
  content: '“';
  line-height: 0;
}

blockquote p::after {
  content: '”';
  line-height: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}


a.button:any-link {
  text-decoration: none;
  border-radius: 25px;
  padding: 5px 1.2em 6px;
  text-align: center;
  font-size: var(--type-body-xs-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-line-height);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  height: fit-content;
}

a.button.xlarge:any-link {
  padding: 13px 1.5em;
  border-radius: 27px;
  font-size: var(--type-body-l-size);
}

a.button.large:any-link {
  padding: 8px 1.5em;
  border-radius: 100px;
}

a.button.small:any-link {
  padding: 4px 1em;
  border-radius: 15px;
  font-size: var(--type-body-xxs-size);
}

a.button:any-link,
a.button.accent:any-link,
a.button.primary-cta:any-link {
  color: var(--color-white);
  background-color: var(--color-info-accent);
  border-color: var(--color-info-accent);
}

a.button:focus,
a.button.accent:focus,
a.button.primary-cta:focus {
  background-color: var(--color-info-accent-hover);
  border-color: var(--color-info-accent-hover);
  color: var(--color-white);
  box-shadow: 0 0 0 2px var(--color-white),
  0 0 0 4px var(--color-info-accent-hover);
}

p.button-container > a.button {
  margin-left: 0;
}

a.button:any-link:hover,
a.button.accent:any-link:hover,
a.button.primary-cta:any-link:hover {
  background-color: var(--color-info-accent-hover);
  border-color: var(--color-info-accent-hover);
}

a.button:any-link:active,
a.button.accent:any-link:active,
a.button.primary-cta:any-link:active {
  background-color: var(--color-info-accent-down);
  border-color: var(--color-info-accent-down);
}

a.button.primary:any-link {
  color: var(--color-white);
  background-color: var(--color-info-primary);
  border-color: var(--color-info-primary);
}

a.button.primary:focus,
a.button.primary.reverse:focus {
  background-color: var(--color-info-primary-hover);
  border-color: var(--color-info-primary-hover);
  color: var(--color-white);
}

a.button.primary:any-link:hover {
  background-color: var(--color-info-primary-hover);
  border-color: var(--color-info-primary-hover);
}

a.button.primary:any-link:active {
  background-color: var(--color-info-primary-down);
  border-color: var(--color-info-primary-down);
}

a.button.secondary:any-link {
  color: var(--color-black);
  background-color: var(--color-info-secondary);
  border-color: var(--color-info-secondary);
}

a.button.secondary:focus {
  background-color: var(--color-gray-500);
  border-color: var(--color-gray-500);
  color: var(--color-white);
}

a.button.secondary:any-link:hover {
  background-color: var(--color-info-secondary-hover);
  border-color: var(--color-info-secondary-hover);
}

a.button.secondary:any-link:active {
  background-color: var(--color-info-secondary-down);
  border-color: var(--color-info-secondary-down);
}

a.button.reverse.accent:any-link,
a.button.reverse.primary-cta:any-link {
  color: var(--color-info-accent);
}

a.button.reverse:any-link {
  color: var(--color-black);
  background-color: var(--color-white);
}

a.button.reverse:focus,
a.button.reverse.accent:any-link:focus,
a.button.reverse.primary-cta:any-link:focus {
  background-color: var(--color-info-accent-hover);
  border-color: var(--color-info-accent-hover);
  color: var(--color-white);
}

a.button.reverse:any-link:hover {
  background-color: var(--color-info-secondary-hover);
}

a.button.reverse:any-link:active {
  background-color: var(--color-info-secondary-down);
}

a.button.reverse.accent:any-link:hover,
a.button.reverse.primary-cta:any-link:hover {
  background-color: var(--color-info-accent-reverse);
}

a.button.reverse.accent:any-link:active,
a.button.reverse.primary-cta:any-link:active {
  background-color: var(--color-info-accent-reverse-down);
}

a.button > svg {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  fill: currentcolor;
  color: currentcolor;
}

a.button > svg > use {
  fill: currentcolor;
  color: currentcolor;
}

main .form .button {
  font-weight: 500;
}

a.button:any-link span {
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

a.button:any-link:hover,
main .form .button:hover {
  color: var(--spectrum-blue);
  border-color: var(--spectrum-blue);
  transform: translateZ(0);
}

a.button:any-link:hover span {
  color: var(--spectrum-blue);
}

a.button:any-link::before,
main .form .button::before {
  content: "";
  position: absolute;
  left: -102%;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 202%;
  height: 104%;
  z-index: -1;

  /* 1st value: hovered color, 2nd value: original color */
  background: radial-gradient(
      circle at left,
      var(--color-white) 50%,
      var(--spectrum-blue) 50%
  );
}

a.button:any-link:hover::before,
main .form .button:hover::before {
  left: 0%;
}

a.button.secondary:any-link::before {
  /* 1st value: hovered color, 2nd value: original color */
  background: radial-gradient(
      circle at left,
      var(--color-font-grey) 50%,
      transparent 50%
  );
}

/* .black-border button: black border transparent bg -> border button */
a.button.black-border:any-link {
  color: var(--color-black);
  border-color: var(--color-black);
}

a.button.black-border:any-link:hover {
  color: var(--color-white);
}

a.button.black-border:any-link::before {
  /* 1st value: hovered color, 2nd value: original color */
  background: radial-gradient(
      circle at left,
      rgb(0 0 0 / 50%) 50%,
      transparent 50%
  );
}

@media screen and (width >= 900px) {
  a.button.large:any-link {
    font-size: var(--type-body-m-size);
    line-height: 1.35;
    padding: 8px 20px;
    margin-bottom: 0;
  }
}

@media screen and (width >= 900px) {
  a.button.large:any-link {
    font-size: var(--type-body-m-size);
    line-height: 1.35;
    padding: 8px 20px;
    margin-bottom: 0;
  }
}

@media screen and (width >= 1200px) {
  a.button.large:any-link {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 26px;
  }
}

.icon-eyebrow {
  display: flex;
  align-items: center;
  color: var(--color-eyebrow-light-grey);
  font-size: var(--type-body-xs-size);
  text-transform: uppercase;
  line-height: 1.25;
  font-style: normal;
  font-weight: 700;
  padding-bottom: calc(var(--spacing-xxs) + var(--spacing-xxxs));
  margin: 0;
}

.icon-eyebrow .icon {
  color: var(--color-eyebrow-light-grey);
  display: grid;
  place-items: center;
  margin-right: var(--spacing-xxxs);
}

.icon-eyebrow .icon svg {
  width: var(--type-body-xs-size);
}

.main-headline {
  font-size: var(--type-heading-l-size);
  line-height: var(--type-heading-xxl-lh);
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.04em;
  width: 85%;
  max-width: 540px;
}

@media screen and (width >= 900px) {
  .icon-eyebrow {
    font-size: var(--type-body-l-size);
    padding-bottom: var(--spacing-s);
  }

  .icon-eyebrow .icon {
    margin-right: var(--spacing-xxs);
  }

  .icon-eyebrow .icon svg {
    width: var(--type-body-l-size);
  }

  .main-headline {
    font-size: var(--type-heading-xxl-size);
    width: 80%;
  }

  .full-width-title .main-headline {
    width: 100%;
    max-width: fit-content;
  }
}

/* -- colored tags -- */
.colored-tag {
  display: inline-block;
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  padding: 4px 8px;
  text-transform: uppercase;
  border-radius: 100px;
  margin-bottom: 10px;
}

/* colored tags: circle icon */
.colored-tag.circle {
  width: var(--circular-icon-tag-size);
  height: var(--circular-icon-tag-size);
  border-radius: 100%;
  display: grid;
  place-items: center;
  padding: 0;
}

.colored-tag.circle svg {
  width: 40%;
  height: 40%;
}

/* colored tags: circle number */
.colored-tag.number-tag {
  width: var(--circular-number-tag-size);
  height: var(--circular-number-tag-size);
  border-radius: 100%;
  display: grid;
  place-items: center;
  padding: 0;
  font-size: var(--type-heading-l-size);
  font-weight: 900;
  line-height: 1;
  box-shadow: rgb(0 0 0 / 7%) 0 100px 148px, rgb(0 0 0 / 5%) 0 42px 62px,
  rgb(0 0 0 / 4%) 0 22px 33px, rgb(0 0 0 / 3.5%) 0 13px 19px,
  rgb(0 0 0 / 3%) 0 7px 10px, rgb(0 0 0 / 2%) 0 3px 4px;
  margin-bottom: var(--spacing-xs);
}

/* colored tags: color variation */
.colored-tag.pink {
  background-color: var(--color-accent-pink-bg);
  color: var(--color-accent-pink-content);
}

.colored-tag.pink svg {
  color: var(--color-accent-pink-content);
}

.colored-tag.purple {
  background-color: var(--color-accent-purple-bg);
  color: var(--color-accent-purple-content);
}

.colored-tag.lightgreen {
  background-color: var(--color-accent-lightgreen-bg);
  color: var(--color-accent-lightgreen-content);
}

.colored-tag.yellow {
  background-color: var(--color-accent-yellow-bg);
  color: var(--color-accent-yellow-content);
}

.colored-tag.black {
  background-color: var(--color-black);
}

.colored-tag-description {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
}

@media screen and (width >= 768px) {
  .colored-tag {
    padding: 4px 16px;
  }

  .colored-tag.number-tag {
    margin-bottom: var(--spacing-s);
  }
}

/* -- colored tags end -- */

.checker-board-guide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--checkerboard-background);
  background-size: var(--checkerboard-background-size);
  z-index: 0;
}

/* text content */
.inner-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-width);
  text-align: center;
  z-index: 2;
}