/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 700;
  size-adjust: 95%;
  src: local('Trebuchet MS'), local('TrebuchetMS');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 400;
  size-adjust: 87%;
  src: local('Trebuchet MS'), local('TrebuchetMS');
}

:root {
  --body-font-family: "Adobe Clean", adobe-clean, "Trebuchet MS", sans-serif;
  --code-font-family: "Source Code Pro", source-code-pro, "Courier New", monospace;
  --type-heading-all-weight: 700;
  --type-heading-xxxl-size: 44px;
  --type-heading-xxxl-lh: 1;
  --type-heading-xxl-size: 36px;
  --type-heading-xxl-lh: 1;
  --type-heading-xl-size: 28px;
  --type-heading-xl-lh: 35px;
  --type-heading-l-size: 24px;
  --type-heading-l-lh: 30px;
  --type-heading-m-size: 20px;
  --type-heading-m-lh: 25px;
  --type-heading-s-size: 16px;
  --type-heading-s-lh: 20px;
  --type-heading-xs-size: 18px;
  --type-heading-xs-lh: 22px;
  --type-body-l-size: 20px;
  --type-body-l-lh: 30px;
  --type-body-m-size: 18px;
  --type-body-m-lh: 27px;
  --type-body-s-size: 16px;
  --type-body-s-lh: 1.5;
  --type-body-xs-size: 14px;
  --type-body-xs-lh: 21px;
  --type-body-xxs-size: 12px;
  --type-body-xxs-lh: 1.5;
  --type-body-xxxs-lh: 15px;
  --type-detail-all-weight: 700;
  --type-detail-m-transform: uppercase;
  --type-detail-xl-size: 20px;
  --type-detail-xl-lh: 1.75;
  --type-detail-l-size: 16px;
  --type-detail-l-lh: 1.5;
  --type-detail-m-size: 12px;
  --type-detail-m-lh: 15px;
  --body-line-height: 1.6875;
  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-ml: 40px;
  --spacing-l: 48px;
  --spacing-xl: 56px;
  --spacing-xxl: 80px;
  --spacing-xxxl: 104px;
  --dark-spectrum-blue: #0463d6;
  --spectrum-blue: #1473e6;
  --brand-color-purple: #8a8df3;
  --brand-color-dark-purple: #7473e4;
  --brand-color-pink: #f1bce7;
  --brand-color-green-yellow: #ebf3a4;
  --highlight-gradient: linear-gradient(75deg, #db3278, #ee732f);
  --color-black: #000;
  --color-gray-100: rgb(10% 10% 10%);
  --color-gray-200: rgb(20% 20% 20%);
  --color-gray-500: rgb(50% 50% 50%);
  --color-white: #fff;
  --color-info-accent: inherit;
  --color-info-accent-hover: inherit;
  --color-info-accent-down: inherit;
  --color-info-primary: inherit;
  --color-info-primary-hover: inherit;
  --color-info-primary-down: inherit;
  --color-info-secondary: inherit;
  --color-info-secondary-hover: inherit;
  --color-info-secondary-down: inherit;
  --color-info-accent-reverse: inherit;
  --color-info-accent-reverse-down: inherit;
  --color-font-grey: #2c2c2c;
  --color-light-grey-600: #686868;
  --color-eyebrow-light-grey: #444;
  --color-eyebrow-highlight: #6870ec;
  --color-accent-blue: #6870ec;
  --color-accent-highlight-yellow: #e3fa8c;
  --color-accent-pink-bg: #f0b2f2;
  --color-accent-pink-content: #88008d;
  --color-accent-purple-bg: #474eb8;
  --color-accent-purple-content: #e2e4ff;
  --color-accent-lightgreen-bg: #e1fa82;
  --color-accent-lightgreen-content: #3b5700;
  --color-accent-yellow-bg: #f5e66b;
  --color-accent-yellow-content: #7f6000;
  --bg-color-lightgrey: #f8f8f8;
  --bg-color-grey: #e8e8e8;
  --bg-color-grey-2: #d6d6d6;
  --overlay-curtain-bg-color: rgb(0 0 0 / 60%);
  --overlay-curtain-bg-filter: blur(0.05em);
  --code-bg-color: #f1f1f1;
  --grid-mobile-container-width: 88%;
  --grid-tablet-container-width: 83%;
  --grid-laptop-container-width: 90%;
  --grid-desktop-container-width: 1200px;
  --header-container-width: 1440px;
  --header-container-tablet-x-padding: 24px;
  --header-container-desktop-x-padding: 20px;
  --input-border-radius: 4px;
  --image-border-radius-m: 8px;
  --image-border-radius-l: 16px;
  --image-border-radius-xl: 24px;
  --image-border-radius-xxl: 30px;
  --card-border-radius-l: 12px;
  --nav-height: 65px;
  --breadcrumb-height: 1px;
  --color-checkerboard-bg-border: rgb(214 213 213 / 40%);
  --color-checkerboard-bg-fill: transparent;
  --checkerboard-background: linear-gradient( var(--color-checkerboard-bg-border) 1px, transparent 1px ), linear-gradient( 90deg, var(--color-checkerboard-bg-border) 1px, transparent 1px ), linear-gradient( 45deg, var(--color-checkerboard-bg-fill) 50%, var(--color-checkerboard-bg-fill) 51% );
  --checkerboard-background-size: clamp(15px, 3vw, 25px) clamp(15px, 3vw, 25px);
  --sidebar-z-index: 9998;
  --nav-z-index: 9999;
  --circular-icon-tag-size: 30px;
  --circular-number-tag-size: 60px;
  --image-filter-drop-shadow-small: drop-shadow( 10px 25px 50px rgba(0 0 0 / 10%) );
  --side-navigation-bar-gap: var(--spacing-s);
  --cubic-bezier-1: cubic-bezier(0.802, 0, 0.2, 1);
  --cubic-bezier-2: cubic-bezier(0.23, 1, 0.32, 1);
  --transition-cubic-bezier-1: all 0.4s var(--cubic-bezier-2);
  --transition-ease-in-out: all 0.4s ease-in-out;
  --fade-transition: all 0.6s var(--cubic-bezier-1);
  --slide-text-transition: all 0.8s var(--cubic-bezier-1);
  --slide-reveal-transition-slow: all 1s var(--cubic-bezier-1);
  --circular-1-clip-path-init: circle(50% at 0 50%);
  --circular-1-clip-path-full: circle(120% at 0 50%);
}

@media (width >= 900px) {
  :root {
    /* Headings (Consonant) */
    --type-heading-all-weight: 700;
    --type-heading-xxxl-size: clamp(60px, 4.2vw, 80px);
    --type-heading-xxxl-lh: 0.9;
    --type-heading-xxl-size: 44px;
    --type-heading-xxl-lh: 1;
    --type-heading-xl-size: 36px;
    --type-heading-xl-lh: 45px;
    --type-heading-l-size: 28px;
    --type-heading-l-lh: 35px;
    --type-heading-m-size: 24px;
    --type-heading-m-lh: 30px;
    --type-heading-s-size: 20px;
    --type-heading-s-lh: 25px;
    --type-heading-xs-size: 18px;
    --type-heading-xs-lh: 22px;

  /* Body (Consonant) */
  --type-body-l-size: 20px;
  --type-body-l-lh: 30px;
  --type-body-m-size: 18px;
  --type-body-m-lh: 27px;
  --type-body-s-size: 16px;
  --type-body-s-lh: 1.5;
  --type-body-xs-size: 14px;
  --type-body-xs-lh: 21px;
  --type-body-xxs-size: 12px;
  --type-body-xxs-lh: 1.5;
  --type-body-xxxs-lh: 15px;

  /* heading sizes */
  --heading-font-size-xxxl: 44px;
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 16px;

  /* nav height */
  --nav-height: 64px;

    /* guide-templates */
    --side-navigation-bar-gap: clamp(
        var(--spacing-m),
        3.2vw,
        var(--spacing-ml)
    );
  }
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxxl: clamp(60px, 4.2vw, 80px);
    --heading-font-size-xxl: 44px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
  }
}

body {
  font-family: var(--body-font-family);
  margin: 0;
  font-size: var(--type-body-l-size);
  line-height: var(--type-body-l-lh);
}

/* Use opacity over display: none to let the browser download LCP image assets */
body:not([data-status='loaded']) {
  display: none;
}

header {
  height: var(--nav-height);
}

main .section {
  padding: 4rem 0;
}

@media (width >= 600px) {
  .section {
    padding: 64px 32px;
  }
}

/* section metadata */
main .section.highlight {
  background: var(--highlight-gradient);
  color: white;
}

